@use 'styles/_variables' as *

.button 
  border-radius: $border-radius
  padding: 1rem 2rem
  font-weight: 700

  &.primary
    background: $blue
    color: $white
  &.light
    background: $white
    color: $dark-gray
  &.dark
    background: $dark-gray
    color: $white
